@()(implicit request: RequestHeader)
<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>首页左侧导航</title>
        <link rel="stylesheet" type="text/css" href="/assets/Admin/css/public.css" />
        <script type="text/javascript" src="/assets/Admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/Admin/js/public.js"></script>
        <head></head>

<body id="bg">
        <!-- 左边节点 -->
    <div class="container">

        <div class="leftsidebar_box">
            <a href="@routes.Admin.main()" target="main"><div class="line">
                <img src="/assets/Admin/img/coin01.png" />&nbsp;&nbsp;首页
            </div></a>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin03.png" /><img class="icon2"
                src="/assets/Admin/img/coin04.png" /> 借书审核<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>

                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks" href="/admin/main"
                target="main">审核列表</a><img class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks" href="/admin/arelt"
                target="main">同意列表</a><img class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks" href="/admin/refCliReq"
                target="main">拒绝列表</a><img class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>

            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin01.png" /><img class="icon2"
                src="/assets/Admin/img/coin02.png" /> 还书审核<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks" href="/admin/cliRetReq"
                target="main">申请列表</a><img class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>

            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin07.png" /><img class="icon2"
                src="/assets/Admin/img/coin08.png" /> 历史记录<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a href="/admin/hisAll" target="main"
                class="cks">用户历史记录</a><img class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin10.png" /><img class="icon2"
                src="/assets/Admin/img/coin09.png" /> 敬请期待<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">敬请期待</a><img class="icon5"
                src="/assets/Admin/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin11.png" /><img class="icon2"
                src="/assets/Admin/img/coin12.png" /> 敬请期待<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">敬请期待</a><img class="icon5" src="img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin14.png" /><img class="icon2"
                src="/assets/Admin/img/coin13.png" /> 敬请期待<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">敬请期待</a><img class="icon5" src="img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin15.png" /><img class="icon2"
                src="/assets/Admin/img/coin16.png" /> 敬请期待<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">敬请期待</a><img class="icon5"
                src="/assets/Admin/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coin17.png" /><img class="icon2"
                src="/assets/Admin/img/coin18.png" /> 敬请期待<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">敬请期待</a><img class="icon5"
                src="/assets/Admin/img/coin21.png" />
                </dd>
            </dl>
            <dl class="system_log">
                <dt>
                    <img class="icon1" src="/assets/Admin/img/coinL1.png" /><img class="icon2"
                src="/assets/Admin/img/coinL2.png" /> 系统管理<img class="icon3"
                src="/assets/Admin/img/coin19.png" /><img class="icon4"
                src="/assets/Admin/img/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a href="##"
                target="main" class="cks">修改密码</a><img class="icon5"
                src="/assets/Admin/img/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="/assets/Admin/img/coin111.png" /><img class="coin22"
                src="/assets/Admin/img/coin222.png" /><a class="cks">退出</a><img
                class="icon5" src="/assets/Admin/img/coin21.png" />
                </dd>
            </dl>

        </div>

    </div>
</body>
</html>
