@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

        <title>@title</title>
        <script src="/assets/add/js/jquery-3.3.1.min.js"></script>
    </head>

    <body>
            <!--头 -->
        <header>
            <article>
                <div class="mt-logo">
                        <!--顶部导航条 -->
                    <div class="am-container header">
                        <ul class="message-l">
                            <div class="topMessage">

                            @request.session.get("userName") match {
                                case Some(user) => {
                                    <div class="menu-hd">
                                        <a href="###" target="_top" class="h">学生:@user</a>
                                    </div>
                                }
                                case None => {
                                    <div class="menu-hd">
                                        <a href="@routes.Applications.login()" target="_top" class="h">你好！请登录</a>
                                    </div>
                                }
                            }

                            </div>
                        </ul>
                        <ul class="message-r">
                            <div class="topMessage home">
                                <div class="menu-hd"><a href="@routes.Applications.index()" target="_top" class="h">首页</a></div>
                            </div>
                            <div class="topMessage my-shangcheng">
                                <div class="menu-hd MyShangcheng"><a href="/person" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                            </div>
                            <div class="topMessage mini-cart">
                                <div class="menu-hd"><a id="mc-menu-hd" href="@routes.Applications.showCart()" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>喜欢</span><strong id="J_MiniCartNum" class="h"></strong></a></div>
                            </div>
                            <div class="topMessage favorite">
                                <div class="menu-hd"><a href="@routes.Applications.logOut()" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>退出</span></a></div>
                            </div>
                            <div class="topMessage favorite">
                                <div class="menu-hd"><a href="https://github.com/yangmingsen/BLS" target="_blank"><i class="am-icon-heart am-icon-fw"></i><span>源码</span></a></div>
                            </div>
                        </ul>
                    </div>
                    <div class="nav white">

                        <div class="logoBig">
                            <li><img src="/assets/add/img/logo.png" /></li>
                        </div>

                        <div class="search-bar pr">
                            <a name="index_none_header_sysc" href="#"></a>

                            @helper.form(action=routes.Applications.search()){
                                <input id="searchInput" name="key" type="text"  placeholder="搜索" autocomplete="off">
                                <input id="ai-topsearch" class="submit am-btn"  value="搜索" index="1" type="submit">
                                }

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </header>

        <div class="nav-table">
        </div>

        <b class="line"></b>
        <div class="center">

            @content

            <aside class="menu">
                <ul>
                    <li class="person">
                        <a href="#">个人中心</a>
                    </li>
                    <li class="person">
                        <a href="#">个人资料</a>
                        <ul>
                            <li> <a href="/person">个人信息</a></li>
                        </ul>
                    </li>
                    <li class="person">
                        <a href="#">我的交易</a>
                        <ul>
                            <li ><a href="/person/hisy">借阅历史</a></li>
                            <li ><a href="/person/borlis">待借阅</a></li>
                            <li ><a href="/person/chec">审核中</a></li>
                            <li ><a href="/person/psed">已通过</a></li>
                            <li ><a href="/person/disage">未同意</a></li>
                        </ul>
                    </li>

                </ul>

            </aside>
        </div>

                    <!--底部-->
    </body>

</html>