@(book: BookInfos)(implicit request: RequestHeader)



@main("详细信息"){

    <link href="/assets/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/assets/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="/assets/basic/css/demo.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="/assets/css/optstyle.css" rel="stylesheet" />
    <link type="text/css" href="/assets/css/style.css" rel="stylesheet" />


    <script type="text/javascript" src="/assets/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/assets/basic/js/quick_links.js"></script>

    <script type="text/javascript" src="/assets/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.imagezoom.min.js"></script>

    <script type="text/javascript" src="/assets/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/assets/js/list.js"></script>


    <div class="clear"></div>
    <b class="line"></b>
        <!--全部分类下的那根线-->
    <div class="listMain">

            <!--分类-->
        <div class="nav-table">
        </div>
        <ol class="am-breadcrumb am-breadcrumb-slash">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">分类</a>
            </li>
            <li class="am-active">内容</li>
        </ol>

        <script type="text/javascript">
                $(function() {});
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function(slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
        </script>
        <div class="scoll">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="/assets/images/01.jpg" title="pic" />
                        </li>
                            <!--<li>
									<img src="/assets/images/02.jpg" />
								</li>
								<li>
									<img src="/assets/images/03.jpg" />
								</li>-->
                    </ul>
                </div>
            </section>
        </div>

            <!--放大镜-->

        <div class="item-inform">
            <div class="clearfixLeft" id="clearcontent">

                <div class="box">
                    <script type="text/javascript">
                            $(document).ready(function() {
                                $(".jqzoom").imagezoom();
                                $("#thumblist li a").click(function() {
                                    $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                                    $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                                    $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                                });
                            });
                    </script>

                    <div class="tb-booth tb-pic tb-s310">
                        <a href="/assets/ProjectImg/@book.id-1.jpg"><img src="/assets/ProjectImg/@book.id-1.jpg" alt="细节展示放大镜特效" rel="/assets/ProjectImg/@book.id-1.jpg" class="jqzoom" /></a>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="clearfixRight">
                    <!--规格属性-->
                    <!--名称-->
                <div class="tb-detail-hd">
                    <h1 class="book-name">
                        @book.title
                    </h1>
                </div>
                <div class="tb-detail-list">
                        <!--价格-->
                    <div class="tb-detail-price">

                        <li class="price iteminfo_mktprice">
                            <dt>作者</dt>
                            @{
                                book.author match {
                                    case Some(au) => {
                                            <dd><b class="sys_item_mktprice">{au}</b></dd>
                                    }
                                    case _ => {<dd><b class="sys_item_mktprice">还没有作者</b></dd>}
                                }
                            }

                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>出版社</dt>
                            <dd><b class="sys_item_mktprice">@book.bookconcern</b></dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>出版年</dt>
                            <dd><b class="sys_item_mktprice">2009-1</b></dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>页数</dt>
                            <dd><b class="sys_item_mktprice">551</b></dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>装帧</dt>
                            <dd><b class="sys_item_mktprice">平装</b></dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>编号</dt>
                            @{
                                book.isbn match {
                                    case Some(is) =>  <dd><b class="sys_item_mktprice">{is}</b></dd>
                                    case _ => {<dd><b class="sys_item_mktprice">还没有</b></dd>}
                                }
                            }

                        </li>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                        <!--销量-->
                    <ul class="tm-ind-panel">

                    </ul>
                    <div class="clear"></div>

                        <!--各种规格-->
                    <dl class="iteminfo_parameter sys_item_specpara">
                        <dt class="theme-login"><div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div></dt>
                            <!--<dd>-->
                            <!--操作页面-->
                        <div class="theme-popover-mask"></div>

                        <div class="theme-popover">
                            <div class="theme-span"></div>
                            <div class="theme-poptit">
                                <a href="javascript:;" title="关闭" class="close">×</a>
                            </div>
                            <div class="theme-popbod dform">
                                <form class="theme-signin" name="loginform" action="" method="post">

                                    <div class="theme-signin-left">
                                        <div class="theme-options">
                                            <span class="cart-title number">数量: </span>
                                            <dd>
                                                <span style="width:30px; font-size: 20px;"> 1 </span>
                                                <span id="Stock" class="tb-hidden">  该书剩余<span class="stock">@book.amount</span>本</span>
                                            </dd>

                                        </div>
                                        <div class="clear"></div>

                                        <div class="btn-op">
                                            <div class="btn am-btn am-btn-warning">	</div>
                                            <div class="btn close am-btn am-btn-warning">取消</div>
                                        </div>
                                    </div>
                                    <div class="theme-signin-right">
                                        <div class="img-info">
                                            <img src="/assets/ProjectImg/@book.id-1.jpg" />
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>

                <div class="pay">

                    <li>
                        <div class="clearfix tb-btn tb-btn-basket theme-login" style="margin-left: 200px;">
                            <a id="LikBasket" title="加入购物车" href="/Cart/add?id=@book.id&title=@book.title"><i></i>加入借阅列表</a>
                        </div>
                    </li>

                </div>

            </div>

            <div class="clear"></div>

        </div>

            <!--优惠套装-->


            <!-- introduce-->

        <div class="introduce">
            <div class="browse">
                <div class="mc">
                    <ul>
                        <div class="mt">
                            <h2>看了又看</h2>
                        </div>

                        <li class="first">
                            <div class="p-img">
                                <a href="#"> <img class="" src="/assets/img1/c程序设计语言.jpg"> </a>
                            </div>
                            <div class="p-name">
                                <a href="#">
                                    c程序设计语言
                                </a>
                            </div>
                            <div class="p-price"><strong></strong></div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href="#"> <img class="" src="/assets/img1/c程序设计语言.jpg"> </a>
                            </div>
                            <div class="p-name">
                                <a href="#">
                                    c程序设计语言
                                </a>
                            </div>
                            <div class="p-price"><strong></strong></div>
                        </li>
                        <li>
                            <div class="p-img">
                                <a href="#"> <img class="" src="/assets/img1/c程序设计语言.jpg"> </a>
                            </div>
                            <div class="p-name">
                                <a href="#">
                                    c程序设计语言
                                </a>
                            </div>
                            <div class="p-price"><strong></strong></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="introduceMain">
                <div class="am-tabs" data-am-tabs>
                    <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active">
                            <a href="#">

                                <span class="index-needs-dt-txt">书籍详情</span></a>

                        </li>

                    </ul>

                    <div class="am-tabs-bd">

                        <div class="am-tab-panel am-fade am-in am-active">
                            <div class="J_Brand">

                                <div class="attr-list-hd tm-clear">
                                    <h4>内容简介</h4></div>
                                <div class="clear"></div>


                                <p class="book-introduce">精心设计的表单，能让用户感到心情舒畅，愉快地注册、付款和进行内容创建和管理，这是促成网上
                                    商业成功的秘密武器。本书通过独到、深邃的见解，丰富、真实的实例，道出了表单设计的真谛。新
                                    手设计师通过阅读本书，可广泛接触到优秀表单设计的所有构成要素。经验丰富的资深设计师，可深
                                    入地了解以前没有注意到的问题及解决方案。本书专为表单设计或开发人员准备，但同时也适合可用
                                    性工程师、网站开发人员、产品经理、视觉设计师、交互设计师、信息架构人员以及任何一个涉及表
                                    单与调查问卷设计的人员阅读和参考。</p>

                                <div class="clear"></div>
                            </div>

                            <div class="details">
                                <div class="attr-list-hd after-market-hd">
                                    <h4>目录</h4>
                                </div>
                                <div class="clear"></div>
                                <div class="catalog list-height">
                                    <ul>
                                        <li>第一章 Web标准不是神话</li>
                                        <li>1.1 理解Web标准</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                        <li>1.1.1 Web标准是什么</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>
                                <p class="get-more">......(更多)</p>
                                <script>
                                        $(".get-more").click(function(){
                                            $(".catalog").toggleClass("list-height");
                                            if($(".get-more").html() == "......(更多)"){
                                                $(".get-more").html("......(掩藏)");
                                            }
                                            else{
                                                $(".get-more").html("......(更多)");
                                            }
                                        })
                                </script>
                            </div>
                            <div class="clear"></div>

                        </div>


                    </div>

                </div>

                <div class="clear"></div>

                <div class="footer">
                    <div class="footer-hd">
                    </div>
                </div>
            </div>

        </div>

    </div>
}