@(curpage: List[BookInfos])(implicit request: RequestHeader)


@main("搜索") {

    <link href="/assets/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="/assets/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

    <link href="/assets/basic/css/demo.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/seastyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/assets/basic/js/jquery-1.7.min.js"></script>

        <!--<script type="text/javascript" src="/assets/js/script.js"></script>-->


    <div class="clear"></div>
    <b class="line"></b>
    <div class="search">
        <div class="search-list">
            <div class="nav-table">
            </div>

            <div class="am-g am-g-fixed">

                <div class="am-u-sm-12 am-u-md-12">
                    <div class="theme-popover">
                        <ul class="select">
                            <p class="title font-normal">

                                <span class="total fl">全部分类</span>
                            </p>
                            <div class="clear"></div>
                            <li class="select-result">
                                <dl>
                                    <dt>已选</dt>
                                    <dd class="select-no"></dd>
                                    <p class="eliminateCriteria">清除</p>
                                </dl>
                            </li>
                            <div class="clear"></div>

                            <li class="select-list">
                                <dl id="select1">
                                    <dt class="am-badge am-round">方向</dt>
                                    <div class="dd-conent">
                                        <dd class="select-all selected"><a href="#">全部</a></dd>
                                        <dd><a href="#" title="前端开发">前端开发</a></dd>
                                        <dd><a href="#">后端开发</a></dd>
                                        <dd><a href="#">移动开发</a></dd>
                                        <dd><a href="#">数据库</a></dd>
                                        <dd><a href="#">人工智能</a></dd>
                                        <dd><a href="#">云计算&大数据</a></dd>
                                        <dd><a href="#">运维&测试</a></dd>
                                        <dd><a href="#">UI设计</a></dd>
                                    </div>

                                </dl>
                            </li>
                            <li class="select-list">
                                <dl id="select2">
                                    <dt class="am-badge am-round">分类</dt>
                                    <div class="dd-conent">
                                        <dd class="select-all selected">
                                            <a href="#">全部</a>
                                        </dd>
                                        <dd><a href="/search?key=HTML/CSS">HTML/CSS</a></dd>
                                        <dd><a href="/search?key=JavaScript">JavaScript</a></dd>
                                        <dd><a href="/search?key=Html5">Html5</a></dd>
                                        <dd><a href="/search?key=CSS3">CSS3</a></dd>
                                        <dd><a href="/search?key=jQuery">jQuery</a></dd>
                                        <dd><a href="/search?key=Node.js">Node.js</a></dd>
                                        <dd><a href="/search?key=Bootstrap">Bootstrap</a></dd>
                                        <dd><a href="/search?key=Angular">Angular</a></dd>
                                        <dd><a href="/search?key=React.js">React.js</a></dd>
                                        <dd>
                                            <a href="/search?key=Vue.js">Vue.js</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Saaa/Less">Saaa/Less</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=WebApp">WebApp</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=前端工具">前端工具</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=PHP">PHP</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Java">Java</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=SpringBoot">SpringBoot</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Python">Python</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=C">C</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=C++">C++</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Go">Go</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=C#">C#</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Ruby">Ruby</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Android">Android</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=iOS">iOS</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=Unity 3D">Unity 3D</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">Cocos2d-x</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">MySQL</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">MongoDB</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">Oracle</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">SQL Server</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">机器学习</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">深度学习</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">大数据</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">云计算</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">测试</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">Linux</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">动效动画</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">APPUI设计</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">设计工具</a>
                                        </dd>
                                        <dd>
                                            <a href="/search?key=机器学习">设计基础</a>
                                        </dd>
                                    </div>
                                </dl>
                            </li>
                            <li class="select-list">
                                <dl id="select3">
                                    <dt class="am-badge am-round">类型</dt>
                                    <div class="dd-conent">
                                        <dd class="select-all selected">
                                            <a href="#">全部</a>
                                        </dd>
                                        <dd>
                                            <a href="#">基础</a>
                                        </dd>
                                        <dd>
                                            <a href="#">案例</a>
                                        </dd>
                                        <dd>
                                            <a href="#">框架</a>
                                        </dd>
                                        <dd>
                                            <a href="#">工具</a>
                                        </dd>
                                        <dd>
                                            <a href="#">设计模式</a>
                                        </dd>
                                    </div>
                                </dl>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="search-content">
                        <div class="sort">
                            <li class="first">
                                <a title="综合">综合排序</a>
                            </li>
                            <li>
                                <a title="借阅量排序">借阅量排序</a>
                            </li>
                            <li>
                                <a title="评价排序">评价排序</a>
                            </li>
                        </div>
                        <div class="clear"></div>

                        <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                        @for(book <- curpage){
                            <li>
                                <div class="i-pic limit menu1">
                                    <a href="/introdution/@book.id"><img src="/assets/ProjectImg/@book.id-1.jpg" /></a>
                                    <p class="title fl">@book.title</p>
                                    <p class="number fl">
                                     	       剩余<span>@book.amount</span>
                                     	   </p>
                                </div>
                            </li>
                        }
                        </ul>

                    </div>
                    <div class="search-side">

                        <div class="side-title">
                            经典书籍
                        </div>
                        <li>
                            <div class="i-pic check menu1">
                                <img src="/assets/img1/java并发编程实战.jpg" />
                                <p class="check-title">java并发编程实战</p>
                                <p class="price fl">
                                    <b>¥</b>
                                    <strong>29.90</strong>
                                </p>
                                <p class="number fl">
                                    借阅量<span>1110</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="i-pic check menu1">
                                <img src="/assets/img1/java并发编程实战.jpg" />
                                <p class="check-title">java并发编程实战</p>
                                <p class="price fl">
                                    <b>¥</b>
                                    <strong>8.90</strong>
                                </p>
                                <p class="number fl">
                                    借阅量<span>1110</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="i-pic check menu1">
                                <img src="/assets/img1/java并发编程实战.jpg" />
                                <p class="check-title">java并发编程实战</p>
                                <p class="price fl">
                                    <b>¥</b>
                                    <strong>29.90</strong>
                                </p>
                                <p class="number fl">
                                    借阅量<span>1110</span>
                                </p>
                            </div>
                        </li>

                    </div>
                    <div class="clear"></div>
                        <!--分页 -->
                    <ul class="am-pagination am-pagination-right">
                        <li class="am-disabled">
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="am-active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="footer">
                <div class="footer-bd">
                    <p>
                            <!--<em>吉首大学创新创业实验室</em>-->
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(window).resize(function() {
                var $img = $(".menu1 img");
                var minnHeight = 20000;
                for(var i = 0; i < $img.length; i++) {
                    var nWidth = $img[i].naturalWidth
                    var nHeight = $img[i].naturalHeight
                    var nowHeight = $img[i].width / nWidth * nHeight;
                    if(minnHeight > nowHeight) {
                        minnHeight = nowHeight;
                    }
                }
                for(var i = 0; i < $img.length; i++) {
                    $img[i].height = minnHeight;
                }
            });
            $().ready(function() {
                var $img = $(".menu1 img");
                var minnHeight = 218;
                for(var i = 0; i < $img.length; i++) {
                    var nWidth = $img[i].naturalWidth
                    var nHeight = $img[i].naturalHeight
                    var nowHeight = $img[i].width / nWidth * nHeight;
                    if(minnHeight > nowHeight) {
                        minnHeight = nowHeight;
                    }
                }
                for(var i = 0; i < $img.length; i++) {
                    $img[i].height = minnHeight;
                }

                $("#select1 dd").click(function() {
                    $(this).addClass("selected").siblings().removeClass("selected");
                    console.log($(this).text());
                    if($(this).hasClass("select-all")) {
                        $("#selectA").remove();
                    } else {
                        var copyThisA = $(this).clone();
                        if($("#selectA").length > 0) {
                            $("#selectA a").html($(this).text());
                        } else {
                            $(".select-result dl").append(copyThisA.attr("id", "selectA"));

                        }
                    }
                    var $select2 = $("#select2 dd");
                    for (var i = 1; i < $select2.length; i++){
                        $select2[i].style.display = "none";
                    }
                    if($(this).text() == "全部"){

                        for (var i = 1; i < $select2.length; i++){
                            $select2[i].style.display = "inline-block";
                        }
                    }
                    else if($(this).text() == "前端开发"){

                        for (var i = 1; i <= 13; i++){
                            $select2[i].style.display = "inline-block";
                        }
                    }
                    else if($(this).text() == "后端开发"){
                        for (var i = 14; i <= 22; i++){
                            $select2[i].style.display = "inline-block";
                        }
                    }
                    else if($(this).text() == "移动开发"){
                        for (var i = 23; i <= 26; i++){
                            $select2[i].style.display = "inline-block";
                        }
                    }
                    else if($(this).text() == "数据库"){
                        for (var i = 27; i <= 30; i++){
                            $select2[i].style.display = "block";
                        }
                    }
                    else if($(this).text() == "人工智能"){
                        for (var i = 31; i <= 32; i++){
                            $select2[i].style.display = "block";
                        }
                    }
                    else if($(this).text() == "云计算&大数据"){
                        for (var i = 33; i <= 34; i++){
                            $select2[i].style.display = "block";
                        }
                    }
                    else if($(this).text() == "运维&测试"){
                        for (var i = 35; i <= 36; i++){
                            $select2[i].style.display = "block";
                        }
                    }
                    else if($(this).text() == "UI设计"){
                        for (var i = 37; i <= 40; i++){
                            $select2[i].style.display = "block";
                        }
                    }
                })
            })

            $("#select2 dd").click(function() {
                $(this).addClass("selected").siblings().removeClass("selected");
                if($(this).hasClass("select-all")) {
                    $("#selectB").remove();
                } else {
                    var copyThisB = $(this).clone();
                    if($("#selectB").length > 0) {
                        $("#selectB a").html($(this).text());
                    } else {
                        $(".select-result dl").append(copyThisB.attr("id", "selectB"));
                    }
                }

            });

            $("#select3 dd").click(function() {
                $(this).addClass("selected").siblings().removeClass("selected");
                if($(this).hasClass("select-all")) {
                    $("#selectC").remove();
                } else {
                    var copyThisC = $(this).clone();
                    if($("#selectC").length > 0) {
                        $("#selectC a").html($(this).text());
                    } else {
                        $(".select-result dl").append(copyThisC.attr("id", "selectC"));
                    }
                }
            });
    </script>
}