@()(implicit requestHeader: RequestHeader)

@main("等待处理") {
    <link rel="stylesheet"  type="text/css" href="/assets/AmazeUI-2.4.2/assets/css/amazeui.css"/>
    <link href="/assets/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/assets/basic/css/demo.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/sustyle.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/basic/js/jquery-1.7.min.js"></script>

    <div class="take-delivery">
        <div class="status">
            <h2>您已成功借阅</h2>
            <div class="successInfo">
                <ul>

                    <div class="user-info">
                        <p>受理人：yangmingsen</p>
                        <p>联系电话：15871145629</p>
                        <p>状态：正在等待管理员处理</p>
                    </div>

                </ul>
                <div class="option">
                    <span class="info">您可以</span>
                    <a href="/person/order " class="J_MakePoint">查看我的详情</a>
                    <a href="../person/orderinfo.html" class="J_MakePoint">查看<span>交易详情</span></a>
                </div>
            </div>
        </div>
    </div>
}